.banners {
    position: relative;
    width: 100%;
    overflow: hidden;   
}

.banners-inner {
    transition: transform .3s ease-in-out;
}

.banners:hover .banners-control {
    opacity: 1;
}

.banners-item {
    display: inline-block;
    overflow: hidden;
}

.banner-logo {
  width: 200px;
  height: 200px;
  display: block;
  transition: all .3s ease-in-out;
}

.banners-item:hover .banner-logo {
  transform: scale(1.05,1.05);
  transition: all .3s ease-in-out;
}

.banners-control {
    position: absolute;
    background: transparent;
    border: 0;
    top: 35%;
    cursor: pointer;
    width: 70px;
    height: 70px;
    transition: all 0.3s linear;
    opacity: 0;
}

.banners-icon {
    width: 50px;
    height: 50px;
}

.banners-control:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.banners-control.next {
    right: 0;
}
