.footer {
    background: #252525;
    color: #fff;
}

.footer-inner {
    width: 85%;
    margin: 0 auto;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 90px 0 38px;
    border-bottom: 1px solid rgba(253, 189, 52, 0.5);
}

.footer-title {
    margin-bottom: 20px;
}

.about-text, .footer-nav-item, .count-title {
    color: #ffffff80;
}

.about-text-item, .footer-nav-item, .count-title {
    margin-bottom: 7px;
}

.about-text-item a, .footer-nav-link, .footer-copyright a {
    color: #fff;
}

.about-text-item a:hover, .footer-nav-link:hover, .footer-copyright a:hover {
    color: #fdbe34;
    transition: all .3s linear;
}

.footer-copyright {
    font-size: 14px;
    padding: 20px 0 50px;
    color: #ffffff80;
}

@media (max-width: 1400px) {
    .footer-flex {
        padding: 70px 0 32px;
    }
}

@media (max-width: 1200px) {
    .footer-flex {
        padding: 50px 0 28px;
    }

    .footer-copyright {
        padding: 10px 0 30px;
        font-size: 12px;
    }
}