.gallery {
    margin-top: 16px;
}

.gallery-title {
    background: #fdbe34;
    border: 1px solid #fdbe34;
    border-radius: 4px;
    width: fit-content;
    padding: 8px 16px;
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.gallery .gallery-list {
    margin: 0;
    padding: 16px 16px 32px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border-top: 2px solid #fdbe34;
}

.gallery-item img {
    cursor: pointer;
    width: 120px;
    height: 90px;
    border-radius: 7px;
    border: 2px solid #fdbe34;
    transition: all .2s ease-in-out;
}

.gallery-item img:hover {
    transform: scale(1.1);
    box-shadow: 9px 9px 23px 3px rgba(253, 190, 52, 0.29);
}

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.733);
    margin-top: -1px;
    z-index: 1000;
    animation: zoom 0.3s ease-in-out;
}

.modal-inner {
    display: flex;
    justify-content: center;
    position: relative;
}

.modal button {
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 30px;
    top: -10px;
    right: 3.7%;
    background: #000;
    border: 2px solid #fff;
    border-radius: 50%;
}

.modal button span {
    position: absolute;
    display: block;
    background: #fdbe34;
    width: 15px;
    height: 3px;
    border-radius: 30px;
    top: 11px;
    left: 6px;
}

.modal button span:nth-child(1) {
    transform: rotate(45deg);
}

.modal button span:nth-child(2) {
    transform: rotate(-45deg) ;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}


.modalRemove {
    animation: zoomOut 0.3s ease-in-out; 
}

@keyframes zoomOut {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}

.modal-item.visible {
    width: 90%;
}

.modal img {
    display: none;
    width: 100%;
    max-height: calc(100vh - 150px);
    object-fit: cover;
    cursor: pointer;
    border: 5px solid #ffc421;
    border-radius: 2%;
} 

.modal img.visible-img {
    display: block;
}

@media (max-width: 600px) {
    .modal button {
        width: 25px;
        height: 25px;
    }

    .modal button span {
        width: 12px;
        top: 9px;
        left: 5px;
    }
}