.header {
    margin-bottom: 0;
}

.header-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.header-logo {
    width: 100%;
    max-width: 200px;
}

.header-logo img {
    width: 100%;
}

.header-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header-box-item {
    margin-bottom: 10px;
}

.header-bar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.item-header-bar {
    line-height: 0;
}

.header-bar a {
    line-height: 0;
}

.btn-header-bar {
    cursor: pointer;
    background: #ffc421;
    border: 2px solid black;
    border-radius: 20px;
    width: 60%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 500ms;
}

.btn-header-bar:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
}

.link-header-bar {
    color: #000;
}

.header-bar img {
    width: 32px;
}

.header-nav {
    background: #00043c;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    position: relative;
}

.header-nav.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
}

.header-pc .level_0 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.header-pc .level_0 .active>span {
    background: #fdbe34;
    color: #000;
    display: block;
}

#ya-site-form0 input.ya-site-form__submit {
    cursor: pointer;
    height: 40px;
    width: 30px;
    text-indent: -9999px;
    border: 0;
}

#ya-site-form0 input.ya-site-form__submit:hover {
    transition: all .3s ease-in-out;
}

.header-pc .parent {
    display: flex;
    position: relative;
    align-items: center;
}

.header-pc .parent>a, .header-pc .parent>span {
    padding: 0 10px;
    color: #fff;
    line-height: 3;
    flex: 1;
    position: relative;
    z-index: 1;
    transition: color 0.3s ease 0s;
    display: flex;
    align-items: center;
}

.header-pc .parent>a:hover, .header-pc .parent>span:hover {
    color: #000;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.header-pc .parent>a:hover::before, .header-pc .parent>span:hover::before {
    visibility: visible;
    background-color: #fdbe34;
    transform: scaleX(1);
}

.header-pc .parent>a::before, .header-pc .parent>span::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: #fdbe34;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
    z-index: -1;
}

.header-pc .level_1 {
    background: #fff;
    position: absolute;
    transform: scaleY(0);
    transform-origin: 0 0;
    top: 100%;
    left: 0;
    width: 280px;
    z-index: 10;
    transition: all .3s ease-in-out;
}

.header-pc .level_1>li {
    border-bottom: 1px solid rgb(204, 204, 204);
    cursor: pointer;
}

.header-pc .level_1>li:hover {
    background: #fdbe34;
    transition: all .3s linear;
}

.header-pc .level_1>li>a {
    display: block;
    color: #000;
    text-align: left;
    padding: 7px;
}

.header-pc .level_1 .active>span {
    padding: 5px;
}

.header-pc .parent:hover .level_1 {
    transform: scaleY(1);
}

.site-search {
    display: flex;
    overflow: hidden;
    border-radius: 6px;
    max-width: 210px;
}

.input-control, .ya-site-form {
    outline: 0;
    width: 210px;
    height: 40px;
    background: #fff;
    border: 0;
}

.ya-site-form__input input {
    width: 170px;
    height: 40px;
}

#ya-site-form0 td.ya-site-form__search-input {
    padding: 0;
}

#ya-site-form0 .ya-site-form__search-input .ya-site-form__input-text {
    border: 0;
}

.ya-site-form__input-text {
    padding-left: 10px;
}

.icon-search {
    width: 30px;
}

@media (max-width: 1600px) {
    .header-logo {
        max-width: 160px;
    }

    .input-control, .ya-site-form {
        height: auto;
    }
}

@media (max-width: 1400px) {
    .header-logo {
        max-width: 140px;
    }

    .btn-header-bar {
        height: 40px;
    }

    .header-bar img {
        width: 28px;
    }

}

@media (max-width: 1200px) {
    .site-search {
        margin-right: 20px;
    }

    .header-pc .level_1 {
        width: 240px;
    }

    .header-pc .level_1>li>a {
        padding: 5px;
    }

    .header-logo {
        max-width: 120px;
    }

    .header-bar img {
        width: 24px;
    }

    #ya-site-form0 input.ya-site-form__submit {
        height: 30px;
    }

    .input-control, .ya-site-form {
        width: 150px;
        height: 30px;
    }

    .ya-site-form__input input {
        height: 30px;
    }

    .input-search::placeholder {
        font-size: 12px;
    }

    .icon-search {
        width: 25px;
    }
}

@media (max-width: 1024px) {
    .header {
        margin-top: 10px;
    }

    .site-search {
        margin-right: 10px;
    }

    .header-logo {
        max-width: 100px;
    }

    .header-box-item {
        margin-bottom: 5px;
    }

    .header-pc .parent>a {
        padding: 0 5px;
    }

    .btn-header-bar {
        height: 35px;
        border-width: 1px;
    }

    .header-bar img {
        width: 20px;
    }

    #ya-site-form0 div.ya-site-form__form * {
        font-size: 10px !important;
    }

    #ya-site-form0 input.ya-site-form__submit {
        height: 20px;
    }

    .input-control, .ya-site-form {
        width: 130px;
        height: 20px;
    }

    .ya-site-form__input input {
        height: 20px;
    }

    .input-search::placeholder {
        font-size: 11px;
    }

}

@media (max-width: 900px) {
    .header {
        margin-top: 7px;
    }

    .site-search {
        margin-right: 7px;
    }

    .header-pc .level_1 {
        width: 200px;
    }

    .header-pc .level_1>li>a {
        padding: 4px;
    }

    .header-logo {
        max-width: 90px;
    }

    .header-box-item {
        margin-bottom: 4px;
    }

    .header-pc .parent>a {
        padding: 0 4px;
    }


    .header-bar img {
        width: 18px;
    }

    .ya-site-form__input input {
        height: 20px;
    }
}

@media (max-width: 768px) {
    .header-flex {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .header-bar {
        justify-content: center;
    }

    .header-nav {
        height: 36px;
        justify-content: space-between;
    }

    .header-pc .level_0 {
        display: none;
    }
}

@media (max-width: 650px) {
    .header-box {
        order: 3;
    }

}

@media (max-width: 480px) {
    .input-search {
        width: 120px;
        font-size: 9px;
    }

}

