*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: 'Tahoma', sans-serif;
    font-size: 20px;
    color: #000;
    line-height: 1.2;
    background-color: #fff;
    font-weight: 400;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.main {
    background: url(../images/backgound.png);
}

.section {
    padding: 20px 10px 10px;
}

.section-inner {
    width: 100%;
    display: flex;
    gap: 10px;
}

.scrooll-to-top {
    display: none;
    line-height: 0px;
    position: fixed;
    right: 1%;
    bottom: 1%;
    z-index: 10000;
    background: rgb(41, 41, 161);
    border-radius: 10px;
    opacity: 0.6;
}

.to-top-icon {
    width: 45px;
    height: 40px;
}

.scrooll-to-top:hover {
    opacity: 1;
    transition: all .3s linear;
}

@media (max-width: 1600px) {
    body {
        font-size: 18px;
    }
}

@media (max-width: 1400px) {
    body {
        font-size: 16px;
    }
}

@media (max-width: 1200px) {
    body {
        font-size: 14px;
    }

}

@media (max-width: 1024px) {
    body {
        font-size: 12px;
    }
}

@media (max-width: 900px) {}

@media (max-width: 768px) {
    body {
        font-size: 12px;
    }

    .section-inner {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    body {
        font-size: 11px;
    }
}

@media (max-width: 480px) {

    .section {
        padding: 3px 4px 1px;
    }
}