*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    src: local('Roboto-Regular'),
        url(../fonts/Roboto-Regular.woff) format("woff"),
        url(../fonts/Roboto-Regular.woff2) format("woff2");
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    src: local('Roboto-Italic'),
        url(../fonts/Roboto-Italic.woff) format("woff"),
        url(../fonts/Roboto-Italic.woff2) format("woff2");
    font-family: 'Roboto';
    font-style: italic;
}

@font-face {
    src: local('Roboto-Bold'),
        url(../fonts/Roboto-Bold.woff) format("woff"),
        url(../fonts/Roboto-Bold.woff2) format("woff2");
    font-family: 'Roboto';
    font-weight: 700;
}

@font-face {
    src: local('Roboto-BoldItalic'),
        url(../fonts/Roboto-BoldItalic.woff) format("woff"),
        url(../fonts/Roboto-BoldItalic.woff2) format("woff2");
    font-family: 'Roboto';
    font-weight: 700;
    font-style: italic;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;    
    color: #000;
    line-height: 1.2;
    background-color: #fff;
    font-weight: 400;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.main {
    background: url(../images/backgound.png);
}

.section {
    padding: 20px 10px 10px;
}

.section-inner {
    width: 100%;
    display: flex;
}

.scrooll-to-top {
    display: none; 
    line-height: 0px; 
    position: fixed;
    right: 1%;
    bottom: 1%;
    z-index: 10000;
    background: rgb(41, 41, 161);
    border-radius: 10px;
    opacity: 0.6;
}

.to-top-icon {
    width: 45px;
    height: 40px;
}

.scrooll-to-top:hover {
    opacity: 1;
    transition: all .3s linear;
}

@media (max-width: 1600px) {
    body {
        font-size: 18px;
    }
}

@media (max-width: 1400px) {
    body {
        font-size: 16px;
    }
}

@media (max-width: 1200px) {
    body {
        font-size: 14px;
    }
}
