*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

/* html {
    scrollbar-width: thin;
    scrollbar-color: #997dff, #00065a;
} */

html::-webkit-scrollbar {
    width: 15px;
}

html::-webkit-scrollbar-track {
    background: #f4f4f4;
}

html::-webkit-scrollbar-thumb {
    background-image: linear-gradient(45deg, #997dff, #00065a);
    border: 3px solid #f4f4f4;
    border-radius: 20px;
    box-shadow: 4px 4px 8px 0px #f4f4f433;

}

html::-webkit-scrollbar-track-piece:vertical:start {
    background-color: #00043c;
}

body {
    font-family: 'Tahoma', sans-serif;
    font-size: 20px;
    color: #1f1911;
    line-height: 1.2;
    background-color: #fff;
    font-weight: 400;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

table {
    border-collapse: collapse;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.section {
    padding: 20px 10px 10px;
}

.rebuild {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.rebuild-img {
    width: clamp(100px, 15cqw, 200px);
}

.rebuild-title {
    width: 50%;
}

.section-inner {
    width: 100%;
    display: flex;
    gap: 10px;
}

.scrooll-to-top {
    display: none;
    line-height: 0px;
    position: fixed;
    right: 1%;
    bottom: 1%;
    z-index: 10000;
    background: rgb(41, 41, 161);
    border-radius: 10px;
    opacity: 0.6;
}

.to-top-icon {
    width: 45px;
    height: 40px;
}

.scrooll-to-top:hover {
    opacity: 1;
    transition: all .3s linear;
}

.snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 5px #000;
}

.snowflake,
.snowflake .inner {
    animation-iteration-count: infinite;
    animation-play-state: running
}

@keyframes snowflakes-fall {
    0% {
        transform: translateY(0)
    }

    100% {
        transform: translateY(110vh)
    }
}

@keyframes snowflakes-shake {

    0%,
    100% {
        transform: translateX(0)
    }

    50% {
        transform: translateX(80px)
    }
}

.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    animation-name: snowflakes-shake;
    animation-duration: 3s;
    animation-timing-function: ease-in-out
}

.snowflake .inner {
    animation-duration: 10s;
    animation-name: snowflakes-fall;
    animation-timing-function: linear
}

.snowflake:nth-of-type(0) {
    left: 1%;
    animation-delay: 0s
}

.snowflake:nth-of-type(0) .inner {
    animation-delay: 0s
}

.snowflake:first-of-type {
    left: 10%;
    animation-delay: 1s
}

.snowflake:first-of-type .inner,
.snowflake:nth-of-type(8) .inner {
    animation-delay: 1s
}

.snowflake:nth-of-type(2) {
    left: 20%;
    animation-delay: .5s
}

.snowflake:nth-of-type(2) .inner,
.snowflake:nth-of-type(6) .inner {
    animation-delay: 6s
}

.snowflake:nth-of-type(3) {
    left: 30%;
    animation-delay: 2s
}

.snowflake:nth-of-type(11) .inner,
.snowflake:nth-of-type(3) .inner {
    animation-delay: 4s
}

.snowflake:nth-of-type(4) {
    left: 40%;
    animation-delay: 2s
}

.snowflake:nth-of-type(10) .inner,
.snowflake:nth-of-type(4) .inner {
    animation-delay: 2s
}

.snowflake:nth-of-type(5) {
    left: 50%;
    animation-delay: 3s
}

.snowflake:nth-of-type(5) .inner {
    animation-delay: 8s
}

.snowflake:nth-of-type(6) {
    left: 60%;
    animation-delay: 2s
}

.snowflake:nth-of-type(7) {
    left: 70%;
    animation-delay: 1s
}

.snowflake:nth-of-type(7) .inner {
    animation-delay: 2.5s
}

.snowflake:nth-of-type(8) {
    left: 80%;
    animation-delay: 0s
}

.snowflake:nth-of-type(9) {
    left: 90%;
    animation-delay: 1.5s
}

.snowflake:nth-of-type(9) .inner {
    animation-delay: 3s
}

.snowflake:nth-of-type(10) {
    left: 25%;
    animation-delay: 0s
}

.snowflake:nth-of-type(11) {
    left: 65%;
    animation-delay: 2.5s
}

.lightrope {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    margin: -15px 0 0 0;
    padding: 0;
    pointer-events: none;
    width: 100%;
}
.lightrope li {
    position: relative;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 12px;
    height: 28px;
    border-radius: 50%;
    margin: 20px;
    display: inline-block;
    background: rgba(0, 247, 165, 1);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 1);
    animation-name: flash-1;
    animation-duration: 2s;
}
.lightrope li:nth-child(2n+1) {
    background: rgba(0, 255, 255, 1);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 0.5);
    animation-name: flash-2;
    animation-duration: 0.4s;
}
.lightrope li:nth-child(4n+2) {
    background: rgba(247, 0, 148, 1);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 1);
    animation-name: flash-3;
    animation-duration: 1.1s;
}
.lightrope li:nth-child(odd) {
    animation-duration: 1.8s;
}
.lightrope li:nth-child(3n+1) {
    animation-duration: 1.4s;
}
.lightrope li:before {
    content: "";
    position: absolute;
    background: #222;
    width: 10px;
    height: 9.3333333333px;
    border-radius: 3px;
    top: -4.6666666667px;
    left: 1px;
}
.lightrope li:after {
    content: "";
    top: -14px;
    left: 9px;
    position: absolute;
    width: 52px;
    height: 18.6666666667px;
    border-bottom: solid #222 2px;
    border-radius: 50%;
}
.lightrope li:last-child:after {
    content: none;
}
.lightrope li:first-child {
    margin-left: -40px;
}
@keyframes flash-1 {
    0%, 100% {
        background: rgba(0, 247, 165, 1);
        box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 1);
   }
    50% {
        background: rgba(0, 247, 165, 0.4);
        box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 0.2);
   }
}
@keyframes flash-2 {
    0%, 100% {
        background: rgba(0, 255, 255, 1);
        box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 1);
   }
    50% {
        background: rgba(0, 255, 255, 0.4);
        box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 0.2);
   }
}
@keyframes flash-3 {
    0%, 100% {
        background: rgba(247, 0, 148, 1);
        box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 1);
   }
    50% {
        background: rgba(247, 0, 148, 0.4);
        box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 0.2);
   }
}

@media (max-width: 1600px) {
    body {
        font-size: 18px;
    }
}

@media (max-width: 1400px) {
    body {
        font-size: 16px;
    }
}

@media (max-width: 1200px) {
    body {
        font-size: 14px;
    }

}

@media (max-width: 1024px) {
    body {
        font-size: 12px;
    }
}

@media (max-width: 900px) {}

@media (max-width: 768px) {
    html::-webkit-scrollbar {
        width: 10px;
    }

    html::-webkit-scrollbar-thumb {
        border: 1.5px solid #f4f4f4;
    }

    body {
        font-size: 12px;
    }

    .section-inner {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    body {
        font-size: 11px;
    }
}

@media (max-width: 480px) {
    html::-webkit-scrollbar {
        width: 7px;
    }

    html::-webkit-scrollbar-thumb {
        border: 0.75px solid #f4f4f4;
    }

    .section {
        padding: 3px 4px 1px;
    }
}