.checkbox,
.header-mobile .level_0 {
    display: none;
}

@media (max-width: 768px) {
    .checkbox {
        display: block;
        position: absolute;
        left: 10px;
        width: 30px;
        height: 32px;
        cursor: pointer;
        opacity: 0;
        z-index: 10;
    }

    .checkbox-line {
        display: flex;
        flex-direction: column;
        user-select: none;
    }

    .checkbox-line span {
        display: flex;
        width: 29px;
        height: 3px;
        margin-bottom: 5px;
        position: relative;
        left: 10px;
        background: #ffffff;
        border-radius: 3px;
        z-index: 3;
        transform-origin: 5px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            opacity 0.55s ease;
    }

    .checkbox-line span:first-child {
        transform-origin: 0% 0%;
    }

    .checkbox-line span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    .checkbox:checked~.checkbox-line span {
        opacity: 1;
        z-index: 3;
        background: #ffc421;
        transform: rotate(45deg) translate(-9px, -12px)
    }

    .checkbox:checked~.checkbox-line span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    .checkbox:checked~.checkbox-line span:nth-last-child(2) {
        transform: rotate(-45deg) translate(-4px, 9px);
    }

    .header-mobile .level_0 {
        display: block;
        position: absolute;
        width: 300px;
        height: 100vh;
        top: 0;
        z-index: 2;
        padding: 30px 10px 30px 40px;
        background: #00043c;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        overflow-y: auto;
    }
    
    .header-mobile .parent {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        padding: 10px 0;
    }

    .checkbox:checked~.level_0 {
        transform: none;
    }

    .header-mobile .parent>a {
        color: #fff;
        font-size: 0.9rem;
        font-weight: 700;
        margin-right: 10px;
    }

    .sub-checkbox {
        position: absolute;
        top:11px;
        left: 9px;
        width: 20px;
        height: 20px;
        opacity: 0;
    }
    
    .header-mobile .parent svg {
        width: 20px;
        margin-left: 10px;
    }

    .header-mobile .parent svg path {
        fill: #fff;
        stroke: #fff;
    }

    .header-mobile .level_1 {
        margin-top: 10px;
        transform: scaleY(0);
        height: 0;
        transform-origin: 0 0;
        transition: all .3s ease-in-out;
    }

    .header-mobile .level_1 input, .header-mobile .level_1 span {
        display: none;
    }

    .sub-checkbox:checked ~ .level_1 {
        transform: scaleY(1);
        height: 100%;
    }

    .header-mobile .level_1>li {
        margin-bottom: 5px;
    }
    
    .header-mobile .level_1>li>a {
        color: #d3d3d3;
        font-weight: 700;
    }

    
}