/* Announcement, News*/
.section-tabs .tab-content {
    border: 2px solid #ffc421;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 0;
    color: #ffffff;
    overflow-x: auto;
}

.section-tabs .nav-tabs, .content-box .nav-tabs {
    border-bottom: 2px solid #ffc421;
}

.section-tabs .nav-tabs .nav-link, .content-box .nav-tabs .nav-link {
    color: #ffffff;
    font-weight: bold;
    border: 0;
    background-color: #00043c;
    border-top: 3px solid #00043c;
}

.section-tabs .nav-tabs .nav-link:hover, .content-box .nav-tabs .nav-link:hover {
    color: var(--color-accent);
    border-color: #ffc421;
    border-bottom: 0;
    background-color: #ffc421;
}

.section-tabs .nav-tabs .nav-link.active, .content-box .nav-tabs .nav-link.active {
    border-color: #ffc421;
    border-bottom: 0;
    background-color: #ffc421;
    border-top: 3px solid #00043c;
    color: #1f1911;
}

.section-tabs .card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1);
}

.section-tabs .tab-content .card>a {
    height: 450px;
    overflow: hidden;
}

.section-tabs .tab-content .card>a img {
    height: 100%;
}

.section-tabs .card .card-title {
    line-height: 1;
}

.section-tabs .card .card-title a, .card-archive .card-title a {
    color: #1f1911;
    font-size: 24px;
    font-weight: bold;
    height: 122px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    text-decoration: none;
}

.card-archive .card-title a {
    font-size: 20px;
}

.section-tabs .card .card-text, .card-archive .card-text {
    font-size: 16px;
    height: 120px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    text-decoration: none;
}

.section-tabs .card time, .article  time {
    color: #1f1911;
    display: flex;
    gap: 2px;
    font-size: clamp(10px, 1.27vw, 14px);
    margin-bottom: 5px;
}

.section-tabs .card .btn-info {
    font-size: clamp(12px, 1.27vw, 16px);
    background-color: #ffc421;
    border-color: #ffc421;
    border: 0;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block

}

.section-tabs .card .btn-info:hover:after {
    transform: translate(0)
}

.section-tabs .card .btn-info:hover {
    color: #fff;
}

.section-tabs .card .btn-info:after {
    position: absolute;
    content: "";
    background: #00043c;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 20px;
    transform: translate(-100%) rotate(10deg);
    z-index: -1;
    transition: transform .3s ease
}

.section-tabs .card .card-title a:hover {
    color: #ffc421;
}

.section-tabs .btn-archive {
    cursor: pointer;
    background: #ffc421;
    border: 2px solid #000;
    border-radius: 20px;
    box-shadow: 0 0 0 rgba(0, 0, 0, .4);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
.section-tabs .row {
    justify-content: center;
}
/* Announcement, News*/

.content-news h3 {
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffc421;
    font-weight: bold;
}

.content-news h3::before, .content-news h3::after {
    content: "";
    flex-grow: 1;
    height: 2px;
    background: var(--color-gradient-blue-teal);
    min-width: 40px;
 
}
.content-news h3::after {
    transform: rotate(180deg);
}

@media only screen and (max-width: 1400px) {
    .section-tabs .card .card-title a {
        height: 105px;
        font-size: 21px;
    }

    .section-tabs .card .card-text {
        font-size: 14px;
        height: 102px;
    }

    .section-tabs .tab-content .card>a {
        height: 375px;
    }
}

@media only screen and (max-width: 992px) {
    .section-tabs .card .card-title a {
        height: 80px;
        font-size: 16px;
    }

    .section-tabs .card .card-text {
        font-size: 12px;
        height: 92px;
    }

    .section-tabs .tab-content .card>a {
        height: 300px;
    }
}

@media only screen and (max-width: 768px) {
    .section-tabs .tab-content .card>a {
        height: 250px;
    }
}

@media only screen and (max-width: 576px) {
    .section-tabs .tab-content .card>a {
        height: 300px;
    }
}

@media only screen and (max-width: 480px) {
    .section-tabs .tab-content .card>a {
        height: 250px;
    }
}

@media only screen and (max-width: 320px) {
     .section-tabs .tab-content .card>a {
        height: 200px;
    }
}


.announcement-poll {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.announcement-poll {
    gap: 15px;
}


.announcement-poll-item {
    width: 47%;
    border: 2px solid rgba(255, 196, 33, 0.5);
    position: relative;
    font-size: 16px;
}

.announcement-poll-item {
    padding: 9px;
    font-size: 18px;
    background: #ffffff81;
}

.announcement-poll-title {
    margin-bottom: 10px;
}

.poll-text {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.announcement-poll-archive {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.poll-result .pos {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
    border-radius: 1.5em;
}

.post.poll-result .poll-result-stats {
    list-style-type: none;
}

/* Hide the browser's default radio button */
.poll-text input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom radio button */
.poll-checkbox,
.poll-radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 4px;
    background-color: #ccc;
}

.poll-radio {
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add background color */
.poll-text:hover input~.poll-checkbox,
.poll-text:hover input~.poll-radio {
    background-color: #ffc421;
}

/* When the checkmark is checked, add background */
.poll-text input:checked~.poll-checkbox,
.poll-text input:checked~.poll-radio {
    background-color: #00043c;
}

/* Create the checkmark/indicator (hidden when not checked) */
.poll-checkbox:after,
.poll-radio:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.poll-text input:checked~.poll-checkbox:after,
.poll-text input:checked~.poll-radio:after {
    display: block;
}

/* Style the checkmark/indicator */
.poll-text .poll-checkbox:after {
    left: 9px;
    top: 5px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Style the checkmark/indicator */
.poll-text .poll-radio:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
}

.poll-link-archive-text {
    width: 200px;
    height: 40px;
    cursor: pointer;
    background: #ffc421;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 500ms;
    font-size: 18px;
}

.poll-link-archive-text {
    margin-left: 30px;
    width: 130px;
    height: 30px;
}

.poll-link-archive-text:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
}


.announcement-poll-archive-link {
    color: #1f1911;
    text-align: center;
}

@media (max-width: 1200px) {
    .announcement-poll-item, .announcement-sch-button, .news-sch-button {
        font-size: 14px;
    }

    .poll-checkbox,
    .poll-radio {
        width: 20px;
        height: 20px;
    }

    .poll-text .poll-checkbox:after {
        left: 35%;
        top: 15%;
    }

    .poll-text .poll-radio:after {
        top: 6px;
        left: 6px;
    }
}

@media (max-width: 1024px) {
    .poll-link-archive-text {
        border-width: 1px;
    }

    .announcement-poll-item {
        width: 97%;
    }
}

@media (max-width: 900px) {
    .announcement-poll-item, .announcement-sch-button, .news-sch-button {
        font-size: 12px;
    }

    .poll-link-archive-text {
        height: 35px;
        width: 160px;
        font-size: 16px;
    }

    .poll-link-archive-text {
        width: 100px;
        height: 25px;
    }
}

@media (max-width: 768px) {

    .announcement-poll-item {
        width: 47%;
    }

    .announcement-poll-item, .announcement-sch-button, .news-sch-button {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .announcement-poll-item {
        width: 97%;
    }
}


