.panel {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.panel-tab {
    background: #ffc421;
    color: #000;
    border-top: 3px solid #00043c;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    align-self: flex-start;
}

.panel-box {
    border: 2px solid rgb(204, 204, 204);
    padding: 10px 0;
}

.owl-stage-outer {
    cursor: grab;
}

.owl-stage-outer:active {
    cursor: grabbing;
}

.panel-box .owl-theme .owl-nav {
    margin-top: 0;
}

.panel-box .owl-nav span {
    font-size: 30px;
}