.panel {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.panel-tab {
    background: #ffc421;
    color: #1f1911;
    border-top: 3px solid #00043c;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    align-self: flex-start;
}

.panel-box {
    border: 2px solid rgb(204, 204, 204);
    padding: 10px 0;
    position: relative;
}

.owl-stage-outer {
    cursor: grab;
}

.owl-stage-outer:active {
    cursor: grabbing;
}

.panel-box .owl-theme .owl-nav {
    margin-top: 0;
}

.panel-box .owl-nav button {
    width: 100%;
    max-width: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.panel-box .owl-theme .owl-nav button:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.panel-box .owl-nav span {
    font-size: 100px;
    color: #fdbe34;
}

.panel-box .owl-nav .owl-prev {
    left: 0;
}

.owl-item {
    border-radius: 4px;
    padding: 2px;
}