.popular  {
    width: 35%;
    margin-right: 20px;
    align-self: center;
}

.popular-wrap {
    display: flex;
    flex-wrap: wrap;
}

.popular-title {
    text-align: center;
}

.popular-item {
	cursor: pointer;
	background: #ffc421;
	border: 2px solid black;
    border-radius: 20px;
	box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
	transition: 500ms;
    margin: 20px auto;
    padding: 10px 0;
    width: 45%;
    height: 55px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.popular-item:hover {
	transform: translateY(-5px);
	box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
}

.popular-item:focus {
	outline: none;
}

.popular-link {
    color: #000;
	display: flex;
    align-items: center;
    justify-content: flex-start;
}

.popular-icon-wrap {
    margin-left: 10px;
}

.popular-icon {
    width: 40px;
    height: 40px;
}

.popular-text {
	margin: 0 10px;
}

@media (max-width: 1800px) {
    .popular  {
        width: 40%;
    }
}

@media (max-width: 1600px) {
    .popular-icon {
        width: 35px;
        height: 35px;
    }
    
    .popular-item  {
        font-size: 16px;
        margin: 15px auto;
    }
}

@media (max-width: 1400px) {
    .popular-icon {
        width: 30px;
        height: 30px;
    }
    
    .popular-item  {
        font-size: 14px;
        height: 50px;
    }
}

@media (max-width: 1200px) {
    .popular-icon {
        width: 25px;
        height: 25px;
    }
    
    .popular-item  {
        font-size: 12px;
        height: 40px;
    }

    .popular-text {
        margin: 0 5px;
    }
}

@media (max-width: 1024px) {
    .popular-icon {
        width: 20px;
        height: 20px;
    }
    
    .popular-item  {
        font-size: 10px;
        height: 30px;
        margin: 10px auto;
        border-width: 1px;
    }

}

@media (max-width: 900px) {
    .popular-icon {
        width: 15px;
        height: 15px;
    }
    
    .popular-item  {
        font-size: 9px;
        margin: 7px auto;
    }

    .popular-text {
        margin: 0 3px;
    }

    .popular-icon-wrap {
        margin-left: 5px;
    }
}

@media (max-width: 768px) {
    .popular {
        width: 100%;
        margin: auto;
    }

    .popular-item {
        width: 30%;
        font-size: 12px;
    }

    .popular-icon {
        width: 20px;
        height: 20px;
    }
}