.popular  {
    width: 35%;
    margin-right: 20px;
    align-self: center;
}

.popular-box {
    margin: 30px 0;
    
}

.popular-wrap {
    display: flex;
    flex-wrap: wrap;
}

.popular-title {
    text-align: center;
    font-size: 35px;
}

.popular-item {
	cursor: pointer;
	background: #ffc421;
	border: 2px solid black;
    border-radius: 20px;
	box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
	transition: 500ms;
    margin: 20px auto;
    
}

.popular-item:after {
	content: '';
	position: absolute;
	transform: translateX(-55px) translateY(-40px);
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: transparent;
	box-shadow: 0px 0px 50px transparent;
	transition: 500ms;
}

.popular-item:hover {
	transform: translateY(-5px);
	box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
}

.popular-item:focus {
	outline: none;
}

.popular-link {
    color: #000;
	width: 300px;
	height: 55px;
	display: flex;
    align-items: center;
    justify-content: flex-start;
}

.popular-icon-wrap {
    margin-left: 10px;
    margin-right: 2px;
}

.popular-icon {
    width: 40px;
    height: 40px;
}

.popular-text {
	margin-left: 10px;
}