.popular  {
    width: 35%;
    align-self: center;
}

.popular-wrap {
    display: flex;
    flex-wrap: wrap;
}

.popular-title {
    text-align: center;
}

.popular-item {
	cursor: pointer;
	background: #ffc421;
	border: 2px solid black;
	border-left: 10px solid black;
    border-radius: 20px;
	box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
	transition: 500ms;
    margin: 20px auto;
    width: 49%;
    height: 55px;
    font-size: 18px;
    container-type: size;
   
}

.popular-item:hover {
	transform: translateY(-5px);
	box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
    border-left: 2px solid black;
    border-right: 10px solid black;
}

.popular-item:focus {
	outline: none;
}

.popular-link {
    color: #000;
    display: flex;
    align-items: center;
    width: 100cqw;
    height: 100cqh;
    padding: 0 20px;
}

@media (max-width: 1800px) {
    .popular  {
        width: 40%;
    }
}

@media (max-width: 1600px) {
    
    .popular-item  {
        font-size: 16px;
        margin: 15px auto;
    }
}

@media (max-width: 1400px) {
    
    .popular-item  {
        font-size: 14px;
        height: 50px;
    }
}

@media (max-width: 1200px) {
    
    .popular-item  {
        font-size: 12px;
        height: 40px;
    }

}

@media (max-width: 1024px) {
    .popular-item  {
        font-size: 10px;
        height: 35px;
        margin: 10px auto;
    }

}

@media (max-width: 900px) {
    
    .popular-item  {
        margin: 7px auto;
    }

    .popular-link {
        padding: 0 10px;
    }

}

@media (max-width: 768px) {
    .popular {
        width: 100%;
        margin: auto;
    }

    .popular-item {
        width: 30%;
        height: 40px;
        font-size: 12px;
    }

}

@media (max-width: 600px) {
    .popular-item {
        width: 40%;
    }
}

@media (max-width: 480px) {
    .popular-item {
        width: 55%;
    }
}

@media (max-width: 320px) {


}