/* Slider*/
.slider {
    border: 2px solid #fdbe34;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.slider .carousel {
    height: 600px;
}

.slider .carousel-item, .slider .carousel-indicators {
    margin-bottom: 0;
}

.slider .carousel-control-next-icon, .slider .carousel-control-prev-icon {
    width: 3rem;
    height: 3rem;
}

.slider .carousel-control-next:hover .carousel-control-next-icon, .slider .carousel-control-prev:hover .carousel-control-prev-icon {
    background-color: #000000a4;
    transition: var(--transition);
}

.slider .carousel-inner, .slider .carousel-item {
    height: inherit;
}

.slider .carousel-item img{
    object-fit:cover;
    min-height: 600px;
}

.slider .carousel-indicators [data-bs-target] {
    width: clamp(20px, 2.62vw, 30px);
}

.slider .carousel-caption {
    padding-bottom: 0;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: #0000006e;
    color: #fff;
    font-weight: 700;
    padding: 12px;
}

.slider .carousel-caption p {
    margin-bottom: 0.5rem;
}

/* Slider*/

/* @keyframes fade {

    from {
        opacity: 0.4
    }

    to {
        opacity: 1
    }
}

@media (max-width: 1800px) {
    .slider {
        width: 60%;
    }
}

@media (max-width: 1600px) {
    .slider-icon {
        height: 90px;
    }
}

@media (max-width: 1400px) {
    .slider-icon {
        height: 80px;
    }
}

@media (max-width: 1200px) {
    .slider-icon {
        height: 70px;
    }
}

@media (max-width: 1024px) {
    .slider-icon {
        height: 60px;
    }
}

@media (max-width: 900px) {
    .slider-icon {
        height: 50px;
    }
}

@media (max-width: 768px) {
    .slider {
        width: 100%;
    }

    .slider-icon {
        height: 60px;
    }
}

@media (max-width: 480px) {
    .slider-icon {
        height: 50px;
    }
} */

@media only screen and (max-width: 1400px) {
    .slider .carousel {
        height: 500px;
    }

    .slider .carousel-item img{
        min-height: 500px;
    }
}

@media only screen and (max-width: 992px) {
      .slider .carousel {
        height: 400px;
    }

    .slider .carousel-item img{
        min-height: 400px;
    }
}

@media only screen and (max-width: 768px) {
    .slider .carousel {
        height: 325px;
    }
    
    .slider .carousel-item img{
        min-height: 325px;
    }
}

@media only screen and (max-width: 480px) {
    .slider .carousel {
        height: 250px;
    }
    
    .slider .carousel-item img{
        min-height: 250px;
    }

}

@media only screen and (max-width: 320px) {
    .slider .carousel {
        height: 200px;
    }
    
    .slider .carousel-item img{
        min-height: 200px;
    }
}