:root {
    --color-black: #000;
    --color-white: #fff;
    --background-white-transparent: #ffffffb5;
    --color-text: #2E3332;
    --color-grey: #888888;
    --color-teal: #60dfcd; 
    --color-blue: #2E86EF;
    --color-gradient-blue-teal: linear-gradient(315deg, #60dfcd 0%, #2E86EF 100%);
    --color-accent:  var(--color-white);
    --btn-border-radius: 30px;
    --border-radius: 10px;
    --font-family-base: 'Heebo', sans-serif;
    --transition: all .3s;
}
